.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);
}
.logoBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 0 2rem;
}
.logoBox{
    /* Meme Generator */
    font-style: normal;
    font-weight: 700;
    font-size:  1.25rem;
    line-height: 24px;
    letter-spacing: -0.1em;
    text-decoration: none;
}

.nav--logo{
    height: 40px;
}
.nav--text{
    /* React Course - Project 3 */
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 0.75rem;
    text-align: right;
    color: #FFFFFF;
    padding-right: 5vh;
}
button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  button:hover {
    border: 1px solid white;
  }
  
  button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }
  
@media only screen and (max-width: 600px) {
    .logoBox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        padding-left: 1rem;
    }
    .logoBox{
        /* Meme Generator */
    
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;

        letter-spacing: -0.1em;
    
        color: #FFFFFF;
    
    
        text-decoration: none;
    }
    .nav--logo{
        height: 40px;
    }
    .nav--text{
        /* React Course - Project 3 */
    
    
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;

        text-align: right;
    
        color: #FFFFFF;
        padding-right: 1rem;
    
    
    }
    .logoBox h2 {
        color: rgb(0, 180, 177);
    }
}